* {
  /* border: 1px solid red; */
  font-family: Verdana;
  margin: 0px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.header-logo-container {
  height: 70px;
}

.header-logo {
  height: 100%;
}

.login-control {
  display: flex;
  flex-direction: row;
}

.login-control button {
  height: 45px;
  width: 100px;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.btn-light {
  background-color: rgb(254, 223, 58);
}

.btn-dark {
  background-color: black;
  color: white;
}

.banner h1 {
  font-size: 50px;
  text-align: center;
}

.burgers {
  width: 33%;
}

.cart-icon {
  width: 30px;
}

main {
  height: 1000px;
  background-image: url('images/big-burger.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
}

.title h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  letter-spacing: 10px;
}

.title p {
  text-align: center;
  padding: 10px;
  letter-spacing: 5px;
}

.form {
  margin-top: 100px;
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.form input {
  /* height: 50px; */
  margin: 0px;
  border: none;
  font-size: 15px;
}

.input-box {
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  width: 33%;
  text-indent: 15px;
}

.input-submit {
  height: 52px;
  width: 15%;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(254, 223, 58);
  font-weight: 500;
}

.info-panel {
  display: flex;
  justify-content: center;
}

.button-panel {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button-panel div {
  height: 40px; width: 144px;
  border: 1px solid white;
  line-height: 40px;
  vertical-align: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.panel {
  margin-top: 100px;
  width: 90%;
  height: 400px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.product-container {
  width: 25%;
}

.product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.product-image img {
  height: 80%;
  padding-top: 60px;
}

.product-header {
  padding: 10px;
  text-align: center;
}

.product-description {
  /* border: 1px solid green; */
  text-align: center;
}
